<div class="card">
    <p-menubar [model]="items">
        <ng-template #start>
            <p-avatar image="logo.png" shape="circle" />
        </ng-template>

        <ng-template #item let-item let-root="root">
            <a pRipple class="flex items-center p-menubar-item-link" routerLink="{{ item.routerLink }}">
                <span>{{ item.label }}</span>

                @if (item.badge) {
                <p-badge [ngClass]="{ 'ml-auto': !root, 'ml-2': root }" [value]="item.badge" />
                }

                @if (item.shortcut) {
                <span class="ml-auto border border-surface rounded bg-emphasis text-muted-color text-xs p-1">
                    {{ item.shortcut }}
                </span>
                }

                @if (item.items) {
                <i [ngClass]="['ml-auto pi', root ? 'pi-angle-down' : 'pi-angle-right']">
                </i>
                }
            </a>
        </ng-template>

        <ng-template #end>
            <div class="flex items-center gap-2">
                <!-- <input type="text" pInputText placeholder="Search" class="w-36" /> -->

                <p-button class="mr-3 cursor-pointer" styleClass="!bg-transparent !border-none !text-inherit"
                    [icon]="themeService.isDarkMode() ? 'pi pi-sun' : 'pi pi-moon'"
                    [pTooltip]=" themeService.isDarkMode() ? 'Light Mode' : 'Dark Mode'" tooltipPosition="bottom"
                    tooltipStyleClass="small-tooltip" showDelay="1000" hideDelay="300"
                    (click)="themeService.toggleDarkMode()">
                </p-button>

                @if (authService.isLoggedIn()) {
                <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle" />
                }
                @else {
                <p-button label="Login" routerLink="/login" />
                }
            </div>
        </ng-template>
    </p-menubar>
</div>